@media screen and (min-width: 360px) and (max-width: 1024px) {
  .logo {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
    margin-right: 0;
  }
  .menu-items {
    padding-right: 10px;
  }
  .menu-items a {
    padding-right: 5px;
  }
  .head-section-2 {
    justify-content: center;
    align-items: center;
  }
  .head-title {
    font-size: 60px;
  
  }

  .intro{
    font-size: 20px;
  }
  .head-section-3 {
    flex-direction: column;
    margin-top: 0px;
  }
  .orange {
    font-size: 40px;
  }
  .container {
    margin-top: 280px;
  }
  p {
    font-size: 30px;
  }


.container-1{
  margin-bottom: 200px;
}
.inside-container-2{
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 800px;
}

.line{ 
  width: 60px;
  align-items: center;
  border-color: #FF5A00;
  margin-left: 650px;
  margin-top: 15px;
  }

.title{
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
   text-align:center;
}

.grey{
  color: gray;
  text-align: center;
}
.mother{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
  padding-top: 20px;
  padding-right: 20px;
}

.child1{
  display: flex;
  flex-direction: column;
 justify-content: center;

}

.img2{
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

}

.img1{
  width: 300px;
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;
}
.label{

  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
   text-align:center;

}
.children {

  margin-top: 30px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.i1{
  background-image: url("special-menu1.jpg");
background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 300px;
    height: 300px;
margin-left: 30px;

}
.i2{
  background-image: url("special-menu2.jpg");
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 30px;
}
.i3{
  background-image: url("special-menu3.jpg");
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 30px;

   
}
.rond{
  background-color: #FF5A00;
  border-radius : 50%;
  height: 70px;
  width: 70px;
  cursor: pointer; /* Pointer/hand icon */
justify-content: center;
align-content: center;
color: white;

  
}
.rond p{
  padding-top: 38%;
  padding-left: 11px;
}
/* Samer */
.blog {
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  /* lls;sd;dnka */
}

.read-more {
  margin-bottom: 20px;
}

.subs2 {
  flex-direction: column;
  align-items: center;

}
.testi{margin-bottom: 0%;}
.p2 {
  font-size: 25px;
}

.subs2 p {
  font-size: 25px
}

.subs2 h4 {
  font-size: xx-large;
}


.opening {
  margin-top: 95px;
}

.quick {
  margin-top: 340px;
}
.menu3 img {
  width: 300px;
}
.menu2 img {
  width: 300px;
}
.media img {
  height: 30px;
  width: 30px;

}

.chef1 img {
  margin-left: 50px;
  margin-right: 0px;
}

.info {
  margin-top: 0px;
  margin-left: 0px;
}

.chef1.info {
  flex-direction: row;
  align-items: center;
  justify-content: center;


}

.quick ul li {
  font-size: 25px;
}
}
/*menu style*/
@media screen and (min-width: 768px) and (max-width: 834px){
  .menu_images{
      width: 150px;
      height: 150px;
  }
  .small_div{
      width: 150px;
      height: 150px;
  }
  .like_title{
      font-size: 15px;
      font-weight: bold;
  }
  .p_inside{
      font-size: 13px;
      color: rgb(66 60 60 / 66%);
  }
  .price{
      color: rgb(227, 83, 83);
      font-size: 17px;
      margin-left: 8px;
  }
} 
@media screen and (min-width: 320px) and (max-width: 428px) {
  .menu_images{
      width: 88px;
      height: 88px;
  }
  .small_div{
      width: 88px;
      height: 88px;
  }
  .like_title{
      font-size: 9px;
      font-weight: bold;
  }
  .p_inside{
      font-size: 7px;
      color: rgb(66 60 60 / 66%);
  }
  .price{
      color: rgb(227, 83, 83);
      font-size: 11px;
      margin-left: 8px;
  }
}


